{{extend "bootstrap_layout.html"}}

{{block content}}
<h1>报名注册</h1>

<p><span class="bold">大会时间：</span>2012年1月8日 13:00-18:20</p>
 
<p><span class="bold">大会地点：</span>上海长宁区安化路492号C座2楼（大众点评网多功能会议室） | 北京海淀桥东南角昊海楼南30米鑫鼎宾馆2层（车库咖啡），电话:82627127</p>
 
<p><span class="bold">参会人员：</span>OpenStack开发人员和对OpenStack感兴趣的人。</p>
 
<p><span class="bold">参会费用：0元/人</span></p>

<a class="btn large primary" href="http://openstack.51qiangzuo.com/" target="_blank">前往报名交费页面 &raquo;</a>
<br /><br />
<h2>报名后的门票和晚宴说明：</h2>
<br />
<ol>
    <li>报名并成功支付后将收到邮件通知。在大会前还有会议通知。</li>
    <li>会场有电子签到确认报名情况。</li>
    <li>报名与嘉宾吃饭，则会在会议过程中由工作人员确认。在晚餐后按实际消费情况付费。</li>
</ol>

{{end}}
