{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/sponsors.css')}}" />
{{end}}

{{block content}}
<style>
.span-one-third{text-align:center;margin-top:6px}
.span-one-third img{width:200px}
</style>
<h1>支持单位</h1>

<h3>相关支持单位为大会的成功举办提供了必不可少的支持与帮助。同时，如果您和您的公司愿意为中国OpenStack社区提供支持请与社区管理员联系（邮箱duyujie.dyj@gmail.com），作为支持单位会在大会官网首页及支持单位页面展示您的公司Logo及简介。</h3><br />
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://dell.com/"><img src="{{=url_for_static('images/sponsors/dell.gif')}}" alt="DELL" style="height:80px;width:auto" /></a><br />
</div>
        <div class="span-two-thirds">
        26 年来，戴尔让众多国家和地区、社区、客户和世界各地的人们有能力使用技术来实现他们的梦想。 客户相信我们提供的技术解决方案可帮助他们完成更多工作和实现更多目标 - 无论他们在家、在工作、在学校或在世界上的任何位置。 了解我们以客户为中心的方法背后的故事、目标和人。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.intel.com/"><img src="{{=url_for_static('images/sponsors/intel.png')}}" alt="Intel" style="width:auto" /></a><br />
</div>
        <div class="span-two-thirds">
        我们是以“推动社会发展”为己任的企业。<br />
我们不断将科幻小说变为科学事实。<br />
我们不仅仅是一家微处理器公司，<br />
我们已经在从事下个世纪伟大的创新。<br />
我们认为，英特尔最大的优势在于能够在未来创造更大奇迹。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.cs2c.com.cn/"><img src="{{=url_for_static('images/sponsors/cs2c.png')}}" alt="中标软件有限公司" /></a><br />
</div>
        <div class="span-two-thirds">
        中标软件有限公司（原名：上海中标软件有限公司，简称：“中标软件”）由中国软件与技术服务股份有限公司、普华基础软件股份有限公司、华东计算技术研究所三方共同投资，公司注册资金2.5亿元。公司总部位于上海，并分别在北京、广州设分公司和办事处。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.gsta.com/"><img src="{{=url_for_static('images/sponsors/zgdx.jpg')}}" alt="中国电信广州研究院" style="width:300px" /></a><br />
</div>
        <div class="span-two-thirds">
        中国电信股份有限公司广州研究院 / 中国电信股份有限公司广东研究院（以下简称 “ 广州研究院 ” ）是中国电信集团公司运营支撑和业务技术研发的三大研究院之一，是中国电信集团研发和创新体系的核心组成部分，是中国电信广东公司最高级别的综合技术业务 支撑和研发基地。<br />
广州研究院由广东省邮电科学研究所（成立于 1958 年）和广东省邮电技术中心（成立于 1990 年）于 1996 年 7 月合并组成。 2000 年 10 月中国电信集团公司广州研发中心（现为中国电信股份有限公司广州研究院）挂牌成立。 2005 年，被集团定位为中国电信技术创新中心。 2007 年，中国电信数据网支撑中心、中国电信 BSS\OSS 支撑中心在此相继揭牌。广州研究院逐步发展成为中国电信及其广东公司的运营支撑中心和技术创新基地。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.dianping.com/"><img src="{{=url_for_static('images/sponsors/dzdp.png')}}" alt="大众点评" /></a><br />
</div>
        <div class="span-two-thirds">
        大众点评网创建于2003年4月，是中国领先的城市生活消费指南网站。其主要致力于为中国消费者提供本地的餐饮、休闲、娱乐等生活服务发表评论、分享信息的平台，并为广大潜在的消费者提供客观、准确的本地化消费信息指南。
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.gensee.com/"><img src="{{=url_for_static('images/sponsors/gensee.png')}}" alt="展视互动" /></a><br />
</div>
        <div class="span-two-thirds">
        Gensee展视互动是一家由国际著名风险投资机构所投资的高新技术企业；致力于运营世界领先的网络活动和虚拟会议平台；打破了传统虚拟行业的格局，首创混合传输模式，将音视频、PPT及互动内容同步呈现给观 众，更好的还原了现场的真实气氛，带来全新的体验。        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.weibo.com/chekucafe"><img src="{{=url_for_static('images/sponsors/chekucafe.jpg')}}" alt="车库咖啡" /></a><br />
</div>
        <div class="span-two-thirds">孵化器式咖啡,提供尽可能多办公条件,创业者办公成本为一杯咖啡.海淀桥东南角昊海楼南30米鑫鼎宾馆2层，电话:82627127，这里只有一个主题：创业！</div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://q.weibo.com/559662"><img src="{{=url_for_static('images/sponsors/c3.png')}}" alt="C3俱乐部" /></a><br />
</div>
    <div class="span-two-thirds">CloudConnectClub(C3)</div>
    </div><!--END row-->
    

<h1>特别感谢</h1>
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.rackspace.com/"><img src="{{=url_for_static('images/sponsors/rackspace.png')}}" alt="Rackspace" /></a><br />
</div>
        <div class="span-two-thirds">
        Rackspace成立于1998年，总部位于美国德克萨斯州的圣安东尼奥，全球拥有9个数据中心，超过3000名员工，客户有12万，管理 的服务器高达64000台。<br />主要业务分为三种：基于私有云的托管服务、基于公共云的托管以及电子邮件和企业应用托管。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.sina.com.cn/"><img src="{{=url_for_static('images/sponsors/sina.gif')}}" alt="Sina" /></a><br />
</div>
        <div class="span-two-thirds">
        新浪是一家服务于中国及全球华人社群的在线媒体及移动增值服务提供商。新浪拥有多家地区性网站，以服务大中华地区与海外华人为己任，通过旗下业务主线：提供网络新闻及内容服务的新浪网(SINA.com)、提供微博客服务的微博(Weibo.com)、提供移动增值服务的新浪无线(SINA Mobile)，以及其他业务，向广大用户提供包括地区性门户网站、移动增值服务、微博、博客、影音流媒体、相册分享、网络游戏、电子邮件、搜索、分类信息、收费服务、电子商务和企业电子解决方案等在内的一系列服务。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.snda.com/"><img src="{{=url_for_static('images/sponsors/snda.png')}}" alt="盛大网络" /></a><br />
</div>
        <div class="span-two-thirds">
        作为领先的互动娱乐媒体企业，盛大网络通过盛大游戏、盛大文学、盛大在线等主体和其它业务，向广大用户提供多元化的互动娱乐内容和服务。盛大其他投资公司还提供网络视频、家庭棋牌平台、电子竞技平台、手机互动娱乐、网络动漫、网络音乐等在内的适合不同年龄层次用户群的互动娱乐产品，深受广大用户的欢迎。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.douban.com/"><img src="{{=url_for_static('images/sponsors/douban.gif')}}" alt="Douban" /></a><br />
</div>
        <div class="span-two-thirds">
        豆瓣成立于2005年3月，目前已拥有5,300多万注册用户。豆瓣一直致力于帮助都市人群发现生活中有用的事物，通过书影音、小组、小站、同城、豆瓣说等多产品及相关移动应用来服务都市生活的不同领域。
        </div>
    </div><!--END row-->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.ijinshan.com/"><img src="{{=url_for_static('images/sponsors/jinshan.gif')}}" alt="金山网络" /></a><br />
</div>
        <div class="span-two-thirds">
        金山网络科技有限公司成立于2010年11月，总部位于北京，其前身是金山安全软件有限公司和可牛科技有限公司。两家公司于2010年10月完成合并整合，成立了全新的金山网络科技有限公司。金山网络科技有限公司继承了金山安全强大的研发实力和可牛科技对互联网产品的敏锐反应能力，为上亿互联网用户提供以安全为核心的多种互联网应用服务。金山安全实验室及金山网络研发中心设立在珠海。
        </div>
    </div><!--END row-->

<h1>媒体支持</h1>

    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.csdn.net/"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" /></a><br />
</div>
        <div class="span-two-thirds">
        CSDN创立于1999年，是中国最大的中文IT知识服务集团，专注IT信息传播、技术交流、教育培训和专业技术人才服务。拥有超过1800万注册会员、10000名CTO、50万注册企业及合作伙伴，全球中文网站排名第27位。长期以来，CSDN以技术视角关注IT产业发展，以深度分享推进产业技术成长，致力于弘扬技术创新，倡导分享、开放和协作，努力打造高质量的中文IT技术交流平台。
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://topgeek.org/"><img src="{{=url_for_static('images/sponsors/topgeek.gif')}}" alt="TopGeek" /></a><br />
</div>
        <div class="span-two-thirds">
        TopGeek组织是一个面向高级软件和互联网技术人员的组织，主要讨论软件和互联网的一些新的技术潮流，开发理念和经验。<br /><br />
在现在技术山头林立，以语言或行业划分圈子的社区组织状态下，我们坚持认为，按技术流派形成圈子的做法不能满足高级技术人员需要。<br /><br />
我们希望打破技术分割，帮助社区人员开拓思路，互相学习，资源共享。解决一些成熟技术人员进一步发展的共同问题，形成一些好的朋友圈子。
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.51cto.com/"><img src="{{=url_for_static('images/sponsors/51cto.gif')}}" alt="51CTO" /></a><br />
</div>
        <div class="span-two-thirds">
        51CTO传媒创立于2005年，作为中国领先的IT技术网站，由一批资深互联网专业人士创建。
自建立之日起，51CTO传媒就以“专注IT技术领域，打造中国领先的IT技术网站”为宗旨，致力于帮助企业IT技术管理人群提升技术管理水平，进而提升中国企业IT应用水平。经过多年的发展，51CTO传媒已经成为中国广大CTO、CIO等IT技术人员的首选网站。目前，51CTO.com日均浏览量超过1000万，注册用户逾325万，经过多年的不断创新与进步，51CTO传媒已逐渐发展成为中国领先的IT技术网站。
        </div>
    </div><!--END row-->
    
        <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.ituring.com.cn/"><img src="{{=url_for_static('images/sponsors/turingbook.gif')}}" alt="图灵社区" /></a><br />
</div>
        <div class="span-two-thirds">
        人民邮电出版社图灵公司—— 站在巨人的肩上，努力打造最专业的IT图书出版（写作/翻译）服务平台，期待与您合作！
        </div>
    </div><!--END row-->
    
           <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.broadview.com.cn/"><img src="{{=url_for_static('images/sponsors/bw.png')}}" alt="博文视点" /></a><br />
</div>
        <div class="span-two-thirds">
        IT出版旗舰品牌，由电子工业出版社计算机分社以专业化力量打造。以开发IT类图书选题为主业，善待作者，尊重作者，提升作者，诚邀天下技术精英加盟。        </div>
    </div><!--END row-->
{{end}}
