{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/volunteer.css')}}" />
{{end}}

{{block content}}
<h1>志愿者</h1>
<h3>OpenStack开发者大会的召开离不开志愿者们的共同努力，同时，如果您愿意加入社区志愿者的队伍，请发送您的简介和联系方式到 COSUG社区管理员邮箱（duyujie.dyj@gmail.com)，将在大会官网的“志愿者”页面展示个人照片及简介。</h3><br />

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://bopor.com/"><img src="{{=url_for_static('images/volunteer/chenshixin.jpg')}}" alt="StingChen（陈世欣）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>StingChen（陈世欣）</h4>
        <p>上海交大计算机系硕士 现为创业公司2Style4You.Com的CTO 个人博客 <a target="_blank" href="http://bopor.com/">bopor.com</a> 微博 <a target="_blank" href="http://weibo/stingchen">http://t.sina.com.cn/stingchen</a></p>
        <p>从2006年起参加和组织社区，曾组织过python聚会，参与组织过google技术社区GTUG，ThinkinLAMP社区，参加过30多次各类社区。并成功组织了上海最大的产品经理社区PMCamp(微博<a target="_blank" href="http://t.sina.com.cn/pmcamp">http://t.sina.com.cn/pmcamp</a>，博客 <a target="_blank" href="http://pmcamp.org">http://pmcamp.org</a>)</p>
        <p><strong>StingChen的博客地址：</strong><a target="_blank" href="http://bopor.com/">http://bopor.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://blog.sina.com.cn/pyhunterpig"><img src="{{=url_for_static('images/volunteer/zhixiaoyong.jpg')}}" alt="HunterPig（支晓勇）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>HunterPig（支晓勇）</h4>
        <p>36岁, 天蝎男, 91office.com, IT总监</p>
        <p>在anjia.com干了5年写VB和ASP，在91office.com干到现在也5年了，从ASP变成Python程序员。现在喜欢开源和自由软件，在上海的开源和Python社区算个活跃分子。</p>
        <p>现居 : 上海 闸北区</p>
        <p>家乡 : 上海 青浦区</p>
        <p><strong>HunterPig的博客地址：</strong><a target="_blank" href="http://blog.sina.com.cn/pyhunterpig">http://blog.sina.com.cn/pyhunterpig</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://weibo.com/u/1716287123"><img src="{{=url_for_static('images/volunteer/duyujie.jpg')}}" alt="(Ben)杜玉杰" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>Ben（杜玉杰）</h4>
        <p>OpenStack中文社区管理员；社区经理，参与并组织各种开源社区线上/线下活动；目前就职于中标软件有限公司。</p>
        <p><strong>微博：</strong><a target="_blank" href="http://weibo.com/u/1716287123">http://weibo.com/u/1716287123</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://zfben.com"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=200" alt="(Ben)朱峰" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>Ben（朱峰）</h4>
        <p>Freelancer，web designer & developer, spirituality</p>
        <p><a target="_blank" href="http://zfben.com">http://zfben.com</a></p>
    </div><!--END span-->
</div><!--END row-->

{{end}}
